<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ligen.mymybatis.mapper.UserMapper">
    <select id="selectByPrimaryKey" resultType="com.ligen.mymybatis.entity.User">
        select * from mybatis_user where id = ?
    </select>
    <select id="selectAll" resultType="com.ligen.mymybatis.entity.User">
        select * from mybatis_user
    </select>
</mapper>
